*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size:16px;
}
img, 
iframe {
	max-width: 100%;
	height: auto;
	border: 0;
}
body {
	font-family: arial, sans-serif;
}
body {
	background-color: darkolivegreen;
}
header {
	background-color: darkseagreen;
}
header, footer {
	text-align: center;
}
	/* TYPOGRAPHY*/
	
	h1, h2, h3, p{
		font-family: 'Lato', sans-serif;
	}
h1 {
	font-size:50px;
	color: #36684B;
	text-transform: uppercase;
}
h2 {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #35684C
}
h1,h2,p,li {
	padding-bottom: 1em;
}
.item {
	background-color: whitesmoke;
	padding:1%;
	margin:1%;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius:10px;
}
main {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.item li {
	margin-left: 20px;
}
blockquote {
	text-transform: uppercase;
	font-style: italic;
}
nav {
	text-align: center;
}
nav li {
	display: inline-block;
}
nav a {
	background: white;
	color: seagreen;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
}
nav a:hover {
	background: #BBE0CC;
}
body {
	background-color: darkseagreen;
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
}
/* Media Query - Responsive */
@media screen and (min-width: 500px) {
	body {
		background-color: #74A689;
		font-family: arial;
	}
	.item{
		background-color: rgba(246,246,246,0.90)
	}
	h2{
		font-family: 'arial', regular;
	}
}
@media screen and (min-width: 768px){
	body {
		background-image: url("photos/pawel-czerwinski-wqLaBq98GgU-unsplash.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.item {
		
		background-color: rgba(246,246,246,0.90); 
	}
	footer {
		colour: white;
		clear: both;
	}
}
.skyla
{
	colour:aliceblue
}

input[type=text], select {
	widh: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;	
}

input [type=submit] {
	width: 100%;
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin:8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #45a049;
}

div {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.myDiv {
	border: 5px outset red;
	background-color: lightblue;
	text-align: center;
}